
.my-custom-row {
    background-color: bisque;
    height: 400px;
}
body{
    background-color: white;   
    margin: 0;
    color:#00856f
}
.Register_box{
    position: relative;
    margin: auto;
    background-color: white;
    max-width: 700px;
}

.Register_sentence{

    font-size: 30px;
    text-align: center;
    color: rgb(73, 80, 87);
}
.input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 15px;

}
.INPUT_INFOR{
    box-sizing: border-box;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;

}
.Female_checkbox{

    margin: 0px;
}

.Male_text,
.Female_text{
    
    margin-top: 10px;
    margin-bottom: 10px;    
    margin-left: 5px;
}

.Male_box,
.Female_box{
    display: flex;
}
.Female_box{
    margin-left: 10px;
}
.gender_checkbox{
    
    display: inline-block;
    display:flex;
}
.Have_an_account{
    margin-top:0;
    color:rgb(0, 123, 255);
    display: inline-block;
    cursor: pointer;
}
.Have_an_account:hover{
    text-decoration: underline;
}
.Under_Register_Block{
    display: flex;
    justify-content: space-between;
}
.Register_button{
    border-radius: 30px;
    background-color: rgb(3, 126, 106);
    color: white;
    width: 120px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3;
    margin-top: 60px;
    margin-left: 20px;
}
.Register_button:hover{
    opacity: 0.7;
}
.Register_button:active{
    background-color: antiquewhite;
    color: red;
}
.iconYTe{
    border-radius: 50%;
    width: 50px;
    margin-right: 10px;
}
.left_header{
    display: flex;
}
.right_header{
    display: flex;
}
.header{
    background-color:white;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top:0px;
}
.header_content_box{
    padding-left: 10px;
    padding-right:10px;
    cursor: pointer;
}
.header_content_box:hover{
    background-color: rgb(3, 126, 106);
}