body{
    color:#00856f;
}
.header{
    font-size: 35px;
    text-align: center;
}

.infor{
    display: inline;
    border: 2px solid black;
    width: 400px;
    text-align: left;
    padding:5px;
    grid-template-rows: auto;
    word-wrap: break-word;
}

.container1{
    width: 50%;
    display:grid;
    grid-template-columns: 1fr;
    border: 1px solid #00856f;
    grid-gap: 10px;
    margin:auto;
    padding-left: 5px;
}

.line_text{
    display: flex;
    justify-content: space-between;
}