body{
    color:#00856f;
}
.header{
    font-size: 35px;
    text-align: center;
}

.infor{
    display: inline;
    width: 50%;
    text-align: left;
    padding:5px;
    grid-template-rows: auto;
    word-wrap: break-word;
}

.container1{
    width: 50%;
    display:grid;
    grid-template-columns: 1fr;
    border: 1px solid #00856f;
    grid-gap: 10px;
    margin:auto;
    padding-left: 5px;
}

.line_text{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

textarea{
    margin-right: 0;
}

.submit{
    background-color: #00856f;
    color: white;
    border-radius: 5px;
    padding: 7px 14px; 
    font-weight: bold;
    transition: all 0.2s;
}

.submit:hover{
    background-color: #65ade8;
    color: black;
}

.submit:active{
    background-color: #4ef55c;
    color: black;
}